node_modules/
.next/
frontend/node_modules/
backend/node_modules/
frontend/.next/
backend/dist/
backend/prisma/**/*.db
backend/prisma/**/*.db-journal
backend/uploads/
frontend/.env
*.tsbuildinfo
.DS_Store
